
.btn {
    --btn-bg: rgb(var(--colorInvert) / 0.125);
    --btn-color: rgb(var(--colorText) / 1);
    --btn-border-color: rgb(var(--colorInvert) / 0.1);

  appearance: none;
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .4rem 1.5rem .5rem 1.5rem;

  cursor: pointer;
  color: var(--btn-color);
  font-size: inherit;
  font-weight: 500;
  text-decoration: none;
  line-height: normal;
  white-space: nowrap;

  border: 1px solid var(--btn-border-color);
  border-radius: calc(var(--border-radius) * 1.5);
  background-color: var(--btn-bg);
  box-shadow: 0 2px 0 -1px var(--btn-border-color), // bottom border
    0 0 0 0 transparent, 0 0 0 0 transparent; // shadow

  transition: all ease 200ms;

  &:visited {
    text-decoration: none;
    color: var(--btn-color);
  }

  &:hover,
  &:focus-visible {
    --btn-border-color: rgb(var(--colorText) / 0.1);
    --btn-bg: rgb(225, 225, 225);


    filter: brightness(1.1);
    color: var(--btn-color);
    text-decoration: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 2px 0 -1px var(--btn-border-color), // bottom border
      var(--shadow-base), var(--shadow-sm); // shadow

      @media (prefers-color-scheme: dark) {
          --btn-border-color: rgb(var(--colorInvert) / 0.1);
          --btn-bg: rgb(var(--colorInvert) / 0.25);
      }
  }
  &:active {
    --btn-border-color: rgb(var(--colorInvert) / 0.1);

    filter: brightness(0.9);
    opacity: 0.8;
    transform: scale(0.98);
    box-shadow: 0 0 0 0 transparent, // bottom border
      var(--shadow-base), 0 0 0 0 transparent; // shadow
    transition: all ease 80ms;
  }


  // button accent
  &.btn-accent {
    --btn-color: rgb(255 255 255 / 0.9);
    --btn-bg: rgb(var(--colorAccent1) / 1);


    filter: brightness(1) drop-shadow(0 0 1px #0005);

    &:hover,
    &:focus-visible {
      filter: brightness(1.2) drop-shadow(0 0 1px #0005);
    }
    &:active {
      filter: brightness(0.9) drop-shadow(0 0 1px #0005);
      opacity: 1;
    }
      @media (prefers-color-scheme: light) {
          --btn-color: #fff;
      }
  }

  // button accent 2
  &.btn-accent-2 {
    --btn-color: rgb(255 255 255 / 0.9);
    --btn-bg: rgb(var(--colorAccent2) / 0.85);


    filter: brightness(1) drop-shadow(0 0 1px #0005);

    &:hover,
    &:focus-visible {
      filter: brightness(1.2) drop-shadow(0 0 1px #0005);
    }
    &:active {
      filter: brightness(0.9) drop-shadow(0 0 1px #0005);
      opacity: 1;
    }
  }

    @media (prefers-color-scheme: light) {
        --btn-color: #fff;
    }
}
